@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Condensed", sans-serif;
  min-height: 100vh;
  overflow: hidden;
}

input {
  border: 1px solid #000;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
}

th,
td {
  text-align: center;
  padding: 8px 16px;
  border: 1px solid black;
}

select,
option {
  outline: none;
}
